*{
    box-sizing: border-box;
}
.flex-container{
    display: flex;
    background: skyblue;
    flex-direction: row;
    /* flex-wrap: wrap; */
    height: 50lvh;
    /* align-items: flex-start; */
    /* align-items: center; */
    /* align-items: flex-end; */
    /* align-items: stretch; */
    align-items: center;

}
.item{
    background: orange;
    border: 1px solid black;
    width: 200px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;

}
