.grid-container{
    display: grid;
    /* grid-template-rows: 100px 100px 100px; */
    grid-template-rows: repeat(4, 100px);
    /* grid-template-columns: 100px 100px 100px; */
    grid-template-columns: repeat(3, auto);
    border: 1px solid gray;
    
}

.item{
    padding: 3rem;
    border: 1px solid #ccc;
    background: orange;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;

}